### Topics:
    1. How to check your python version
    2. Variable declaration 
    3. Data types
    4. Data type convertion

### Comments

In [1]:
# singlr line commenting
"""
multy 
line
comments
"""
# in multy line comments each ine is separated by \n

'\nmulty \nline\ncomments\n'

In [2]:
# To get the version of python 
import sys

In [3]:
sys.version

'3.8.3 (tags/v3.8.3:6f8c832, May 13 2020, 22:20:19) [MSC v.1925 32 bit (Intel)]'

###  Variable declaration 
A python variable is a name, reserved memory location to store values

In [4]:
a = 120

In [5]:
id(a)

1581317920

In [6]:
# we can't mention values at beging of our variable name 1a, 34fghdgf and we can't use any special chars other than "_"

name@student = 7346

SyntaxError: cannot assign to operator (<ipython-input-6-e0eb78700b42>, line 3)

In [7]:
name_student = 37

 the fallowing identifiers are used as reserved words, or keywords of the language.

In [8]:
import keyword
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

### Data Types in python
- int 
- float
- string
- boolean

In [17]:
value1 = 12823
value2 = 21.43
name = 'apssdc'
value3 = True

In [10]:
a=43767

In [11]:
a

43767

### Few inbuilt functions 
- help()
- print()
- input()
- int()
- float()
- type()
- id()

In [13]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [14]:
print(value1)

12823

In [18]:
print(value1)
print(value2)
value3

12823
21.43

True

In [19]:
print(a,value1, value2, value3, name)

43767 12823 21.43 True apssdc

In [20]:
print(a,value1, value2, value3, name, sep='***')

43767***12823***21.43***True***apssdc

In [21]:
print(a,value1, value2, value3, name, sep=' _ ')

43767 _ 12823 _ 21.43 _ True _ apssdc

In [22]:
print(a,value1, value2, value3, name, sep=',')

43767,12823,21.43,True,apssdc

In [25]:
print(value1, end='\n') # default 
print(value2, end='****')
print(value3)

12823
21.43****True

In [27]:
print('output of value1', value1)

output of value1 12823

In [28]:
# input fun is used to read takes the data from shell

In [29]:
help(input)

Help on method raw_input in module ipykernel.kernelbase:

raw_input(prompt='') method of ipykernel.ipkernel.IPythonKernel instance
    Forward raw_input to frontends

    Raises
    ------
    StdinNotImplentedError if active frontend doesn't support stdin.

In [30]:
a = input('enter a value:')

enter a value:6352

In [31]:
a

'6352'

In [32]:
b = input("enter Float values: ")

enter Float values: 3.4564

In [33]:
b

'3.4564'

In [34]:
c = input()

vrsec

In [35]:
c

'vrsec'

In [37]:
# identify type of a variable 
print(1,type(1))
print(2.3,type(2.3))
print('hello', type('hello'))

1 <class 'int'>
2.3 <class 'float'>
hello <class 'str'>

In [38]:
type(value1)

int

In [40]:
type(value2)

float

In [41]:
print(type(a))
print(type(b))
print(type(c))

<class 'str'>
<class 'str'>
<class 'str'>

### Type Convertions

In [42]:
a

'6352'

In [44]:
a = int(a)
print(a,type(a))

6352 <class 'int'>

In [45]:
b = int(b)
print(b,type(b))

ValueError: invalid literal for int() with base 10: '3.4564'

In [46]:
b = float(b)
print(b, type(b))

3.4564 <class 'float'>

In [47]:
c

'vrsec'

In [48]:
c = int(c)
c

ValueError: invalid literal for int() with base 10: 'vrsec'

In [50]:
type(c)

str

### Define a string
String must be enclosed with single or duble Quotes

In [51]:
single_quoted_string = 'python'
double_quoted_string = "Python"
Triple_quoted_string = '''python'''
triple_double_string = """python"""

In [52]:
print(single_quoted_string,double_quoted_string,Triple_quoted_string,triple_double_string)

python Python python python

In [53]:
type(single_quoted_string)

str

In [54]:
type(double_quoted_string)

str

In [55]:
type(Triple_quoted_string)

str

In [56]:
type(triple_double_string)

str

In [57]:
# \ backslash 
# \n new line
# \t tab space
# \ is also used for escaping

In [58]:
print('I don't know')

SyntaxError: invalid syntax (<ipython-input-58-ffef336255b4>, line 1)

In [59]:
print('I don\'t know')

I don't know

In [60]:
print("I don't know")

I don't know

In [62]:
print("abcdef\\nghi")

abcdef\nghi

In [63]:
multi_line_string = '''firstline
secondline
thirdline
'''

In [64]:
multi_line_string

'firstline\nsecondline\nthirdline\n'

In [65]:
print(multi_line_string)

firstline
secondline
thirdline

In [67]:
# bool function will return True for any input other than Zero
t = bool(35)
print(t)
x = bool('apssd')
print(x)

True
True

In [68]:
y = bool(0)
print(y)

False

In [69]:
bool(-1)

True

In [70]:
0

0

In [71]:
10

10

In [72]:
100000

100000

In [75]:
bool(1000000)

True

Operators:
- Arthemtical operators
- Relational Operators
- Assignment Operators
- Logical Operators
- Bitwise Operators
- Identity Operators
- Membership Operators

### Arthemtical operators
# + - * /

In [78]:
a = 120
b = 20
print(a+b, 'a+b') # addition 
print(a-b) # subtraction 
print(a * b) # mul
print(a/b) # division
print(a//b) # floor division
print(a%b) # modulo division

140 a+b
100
2400
6.0
6
0

In [79]:
# power 
a**2

14400

In [80]:
*2*2

4

In [81]:
pow(2,3)

8

In [82]:
12/3

4.0

In [84]:
15/2

7.5

In [86]:
15//2 # floor division

7

In [88]:
# Arthemetical operations on string type values
a = '20.72' + '30.723' # gives the concatenation output
print(a)

20.7230.723

In [89]:
s = '20.72' - '30.723'
print(s)

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [90]:
m = '23.4' * 2

In [91]:
m

'23.423.4'

In [92]:
mm = '2'*10

In [93]:
mm

'2222222222'

In [95]:
m/2

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [96]:
m//2

TypeError: unsupported operand type(s) for //: 'str' and 'int'

In [97]:
r = '7.5' % 2

TypeError: not all arguments converted during string formatting

In [99]:
# Arithemetical operations on Bool type values
print('True+Treu', True+True)
print('True+False', True+False)
print('False+True', False+True)
print('False+False', False+False)

True+Treu 2
True+False 1
False+True 1
False+False 0

In [100]:
print('True-Treu', True-True)
print('True-False', True-False)
print('False-True', False-True)
print('False-False', False-False)

True-Treu 0
True-False 1
False-True -1
False-False 0

In [102]:
print('True*Treu', True*True)
print('True*False', True*False)
print('False*True', False*True)
print('False*False', False*False)

True*Treu 1
True*False 0
False*True 0
False*False 0

In [105]:
print('True/Treu', True/True)
# print('True/False', True/False) # ZeroDivisionError - division by Zero not possible  
print('False/True', False/True)
# print('False/False', False/False)

True/Treu 1.0
False/True 0.0

### Relational Operators
#### ==, !=,  <, >, <=, >=

In [106]:
20 == 943

False

In [107]:
32 != 67

True

In [108]:
230 < 78

False

In [109]:
230 > 78

True

In [110]:
True == True

True

In [112]:
print('True != True',True != True)
print('True < True',True < True)
print('True > True',True > True)

True != True False
True < True False
True > True False

### Assignment Operators
#### +=, -=, *=, /=, //=, %=, **=

In [113]:
a = 327

In [114]:
a = a+1

In [115]:
a += 1

In [116]:
a++

SyntaxError: invalid syntax (<ipython-input-116-22e3d6dc1353>, line 1)

### Logical Operators
#### and, or, not

In [119]:
print(True and True)
print(True and False)
print(False and True)
print(False and False)

True
False
False
False

In [120]:
print(True or True)
print(True or False)
print(False or True)
print(False or False)

True
True
True
False

In [121]:
not True

False

### Bitwise Operators

#### &- and , | - or, ^ - xor, ~ not

In [122]:
4 & 7

4

In [ ]:
100
111
---
100

In [123]:
4 << 1 # 100

8

In [ ]:
64,32,16,8,4,2,1

In [124]:
4 | 7

7

In [ ]:
100
111
----
111 or operation

In [128]:
4 ^ 7

3

In [ ]:
100
111
----
011

In [130]:
~ 4

-5

In [ ]:
100
001
----
-101 == -5

### Identity Operators
### is, is not

In [125]:
2 == 3

False

In [126]:
2 is 3

<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<ipython-input-126-0f0b1d4720d3>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
  2 is 3

False

In [131]:
2 is not 3

<>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<ipython-input-131-f248bc1c627f>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
  2 is not 3

True

### Membership Operators
#### in, not in

In [132]:
a = 'apssdc'

In [133]:
's' in a

True

In [134]:
'd' in a

True

In [135]:
'a' in 'vrsec'

False

In [136]:
'sdc' in 'apssdc'

True

In [137]:
'cda' in 'apssdc'

False

In [138]:
a =1209

In [139]:
a

1209

In [140]:
3475

3475

In [141]:
_

3475

In [142]:
767+3728

4495

In [143]:
_

4495

In [144]:
_ = 200

In [145]:
_

200

In [146]:
3784+3784

7568

In [147]:
_

200

In [148]:
del(_)

In [149]:
_

NameError: name '_' is not defined

In [150]:
988

988

In [151]:
_

NameError: name '_' is not defined

In [152]:
10 & 4

0

In [153]:
4 & 7

4

In [154]:
7 & 4

4

In [ ]:
0111
0100
----
0100

In [155]:
10 | 4

14

In [ ]:
1010
0100
-----
1110

In [156]:
~10

-11